<h1 class="text-5xl font-bold underline py-5">
    Hello world!
</h1>

<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn btn-primary">daisyUI</button>
<div>
  <%= link_to t('mysteries.index.title'), mysteries_path %>
  <%= link_to t('user_sessions.new.title'), login_path %>
  <%= link_to t('users.new.title'), new_user_path %>

</div>