<div class = "min-w-max bg-mainContentColor font-zen-old-mincho font-medium mx-10 my-10">
  <h1 class = "text-3xl text-center text-mainTextColor" > <%= link_to '謎一覧へ', mysteries_path, class: 'underline' %> </h1>
  <div class = "my-8 pb-8 mx-20">  
    <div class="rounded mx-auto mb-8 text-mainTextColor bg-white border-solid border-2 border-white rounded-lg drop-shadow-xl py-2 my-8"> 
      <h1 class="text-2xl font-zen-old-mincho font-bold text-center py-5">
        <p> EnigmaPortalsへようこそ!!</p>
        <p> 謎の作成・共有が簡単にできます！</p>
        <p> AIの画像生成機能を使って謎を作成しましょう！ </p>
        <p> ジャンルと謎の答えを入力するだけで簡単に謎を作成できます </p>
      </h1>
    </div>
  </div>
</div>
<% unless logged_in? %>
  <%# 未ログイン時の謎を作ってみるボタン追加 (新規登録に遷移) %>
  <%= link_to new_user_path  do %>
    <button class="btn btn-lg text-mainTextColor rounded-full bg-white sm:btn-sm md:btn-md lg:btn-lg"> 謎を作ってみる</br>(会員登録が必要) </button>
  <% end %>
<% end %>

