<% if model.errors.any? %>
  <% model.errors.full_messages.each do |message| %>
      <p class="bg-bodyColor mb-1 text-center text-mainTextColor alert alert-<%= message %>"><%= message %></p>
  <% end %>
<% end %>