<% flash.each do |key, value| %>
  <% case key %>
  <% when "notice" %>
    <div class="animate-flashFade fixed top-32 translate-x-1/2 right-40 sm:translate-x-0 z-30 w-fit max-w-[90%] py-4 px-6 flex justify-center items-center bg-emerald-400 shadow-lg border border-line-100 rounded-[3px]">
      <p class="text-base font-bold text-dark-blue-200 !leading-none"><%= value %></p>
    </div>
  <% when "alert" %>
    <div class="animate-flashFade fixed top-32 right-40 sm:translate-x-0 z-30 w-fit max-w-[90%] py-4 px-6 flex justify-center items-center bg-yellow-300 shadow-lg border border-line-100 rounded-[3px]">
      <p class="text-base font-bold text-secondary-200"><%= value %></p>
    </div>
  <% else %>
    <p class="alert alert-<%= key %>"><%= value %></p>
  <% end %>
<% end %>