<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <div class="flex items-center text-white text-xs md:text-sm">
    <%= link_to "利用規約", terms_path, class: 'mx-5 my-4 hover:text-blue-600 transition duration-300 font-gorilla underline' %>
    <p>|<p>
    <%= link_to "プライバシーポリシー", privacy_path, class: 'mx-5 my-4 hover:text-blue-600 transition duration-300 font-gorilla underline' %>
    <p>|<p>
    <%= link_to "お問い合わせ",
                "https://docs.google.com/forms/d/e/1FAIpQLSePhwAJaGf8wi-Ofz_2cGNXJZ4ctDLNuQzTWEP4OV8HEJ6eYw/viewform?usp=sf_link",
                target: '_blank',
                rel: 'noopener noreferrer',
                class: 'mx-5 my-4 hover:text-blue-600 transition duration-300 font-gorilla underline' %>
  </div>
  <aside class="items-center grid-flow-col">
    <p>Copyright © 2024 - All right reserved</p>
  </aside> 
</footer>
