
  <footer class="bg-footer text-2xl pt-8">
    <%= link_to "利用規約", "#", class: "text-white" %>
    <%= link_to "プライバシーポリシー", "#", class: "text-white" %>
    <%= link_to "お問い合わせ", "#", class: "text-white" %>
    <p class=" p-2 text-center text-xs">Copyright © 2019 Webty, inc. All Rights Reserved.</p>
  </footer>
