<div class = "w-1/2 mx-auto">
  <div class="bg-mainContentColor shadow-xl rounded px-7 py-5 pb-12 my-20">
    <div class = "flex place-content-end">
      <%= link_to t('helpers.link.back'), mysteries_path %>
      <button id = "ai_generate_button", class="hidden btn btn-lg text-mainTextColor rounded-full bg-white sm:btn-sm md:btn-md lg:btn-lg"> AIでつくる </button>
    </div>

    <div class = "mx-auto">
      <div id="ai_generate_form">
        <h1 class = "text-center text-3xl font-zen-old-mincho text-mainTextColor mb-7">
          <%= t('mysteries.edit.title') %>
        </h1>
        <%= render 'form', mystery: @mystery %>
      </div>
    </div>
  </div>
</div>
