<%= turbo_stream.replace 'loadAnimetion' do %>
  <%= image_tag 'correct.webp', size: '300x300' %>
<%  end %>

<%= turbo_stream.replace 'submitButton' do %>
  <span class="loading loading-spinner loading-lg"></span>
<% end %>

