<div class="hero min-h-screen bg-header" style="background-image: url(assets/topImage.png);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center w-full bg-opacity-60">
    <div class="max-w-lg w-full mx-auto animate-tracking-in-expand-fwd-bottom">
      <h1 class="text-2xl font-bold text-white"> <%= t('.title') %> </h1>
      <div class="flex flex-col">
        <div class="mx-auto">
          <%= link_to auth_at_provider_path(provider: :google), class: 'text-center mx-auto my-5' do %>
            <%= image_tag 'google_signin.png' %>
          <% end %>
        </div>
        <div class="mx-auto">
          <%= link_to guestlogin_path, data: {turbo_method: :post} do %>
            <button class="btn bg-buttonColor text-white mx-auto my-6">ゲストログイン</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
